body {
    background: #464646;
}

.humb {
    position: relative;
    width: 40px;
    height: 40px;
}

.chk {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
}

.label {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.line {
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: #fff;
}

.chk:checked + .humb .d1 {
    margin: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 25%;
    left: 25%;
}

.chk:checked + .humb .d2 {
    margin: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 25%;
    left: 25%;
}

.chk:checked + .humb .d3 {
    margin: 0;
    transform: rotate(-45deg);
    position: absolute;
    top: 25%;
    left: 25%;
}

