.container {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px 150px;
}

.circle {
    border-radius: 75px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle:nth-child(2n){
    background-color: aqua;
}
.circle:nth-child(3n){
    background-color: rgb(0, 255, 42);
}
.circle:nth-child(4n){
    background-color: rgb(255, 0, 157);
}
.circle:nth-child(5n){
    background-color: rgb(38, 0, 255);
}