body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.plan {
    width: 20%;
    height: 40%;
    padding: 50px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plan:nth-child(1) {
    background-color: lightgreen;
}

button:hover {
    border: 3px double #000;
    transform: scale(1.3);
}