body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.hero h1 {
    transform: translate(-50% -50%);
}