* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: #d1d1d1;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    border-radius: 20px;
    box-shadow: #bab9b9 1px 1px 50px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.pro {
    border: blue 2px solid;
}

.osusume {
    position: absolute;
    background-color: orange;
    color: #fff;
    padding: 0 3em;
    rotate: 40deg;
    top: 15px;
    right: -45px;
}

button {
    background-color: rgb(0, 102, 255);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease;
}

button:hover {
    background-color: rgb(46, 130, 255);
    scale: 1.1;
    cursor: pointer;
}