body {
    background: #464646;
}

.humb {
    position: relative;
    width: 40px;
    height: 40px;
}

.chk {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
}

.label {
    display: block;
    width: 100%;
    height: 100%;
}

.line {
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: #fff;
}

.chk:checked.d1 {
    margin: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 25%;
    left: 25%;
}

.chk:checked.d2 {
    margin: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 25%;
    left: 25%;
}

.chk:checked.d3 {
    margin: 0;
    transform: rotate(-45deg);
    position: absolute;
    top: 25%;
    left: 25%;
}

