.c {
    position: relative;
    transform-style: preserve-3d;
    animation: a 3s infinite;
}

.a {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    background-image: linear-gradient(45deg, blue 0%, red 100%);
    transition: all 0.5s;
    transform: rotateY(0);
    translate: -50% -50%;
    backface-visibility: hidden;
}

.b {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    translate: -50% -50%;
    transform: rotateY(180deg);
    background-image: linear-gradient(45deg, blue 0%, red 100%);
    transition: all 0.5s;
    backface-visibility: hidden;
}

@keyframes a {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-image: linear-gradient(45deg, #f06, #4a90e2);
}

.card-back {
    transform: rotateY(180deg);
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}