body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    cursor: none;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}

.cursor:active {
    scale: 1.5;
}